{% extends "index.html" %}
{% block title %} About {% endblock %}
{% load static %}

{% block content %}

<!-- Page Header Start -->
{% include 'singlepageheader.html' with h6title="About Us" h1title="Who We Are" %}
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="h-100">
                    <p>
                        Created on 2015 Villakazi Rover Crew is a group of young individuals committed to making a positive impact in our 
                        community through service, leadership, and personal development. As part of the Kasarani Scouts Local 
                        Association Which is part to the <a href="https://kenyascouts.org/" target="_blank">Kenya Scouts Association</a>, we engage in various activities that promote social welfare, environmental conservation, 
                        and youth empowerment.
                    </p>
                    <p class="mb-4">
                        Our mission is to help young people develop life skills, character, 
                        and leadership through fun, challenging outdoor and community-based activities like camping, 
                        hiking, and volunteering, focusing on "learning by doing" to build confidence, teamwork, and a 
                        sense of responsibility. They earn badges for mastering new skills, from survival to STEM, while 
                        exploring their interests and making a positive impact. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}
