{% extends "index.html" %} {% block title %} Kenya Scouts Law and Structure {%
endblock %} {% load static %} {% block content %}
<div class="container py-6">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h3>This page has been removed</h3>
      <p>
        The content previously available here has been consolidated into the
        Events and About pages.
      </p>
      <a href="{% url 'home' %}" class="btn btn-primary">Return Home</a>
    </div>
  </div>
</div>
{% endblock %}
