{% extends "index.html" %} {% block title %} Leadership/Crew Council {% endblock
%} {% load static %} {% block content %}
<div class="container py-6">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h3>This page has been removed</h3>
      <p>
        Leadership information has been moved to the About and Crew Leaders
        pages.
      </p>
      <a href="{% url 'crew_leaders' %}" class="btn btn-primary"
        >View Crew Leaders</a
      >
    </div>
  </div>
</div>
{% endblock %}
