{% extends "index.html" %}
{% block title %} News {% endblock %}
{% load static %}

{% block content %}
<!-- Page Header Start -->
{% include 'singlepageheader.html' with h6title="What We Do" h1title="News" %}
<!-- Page Header End -->

<!-- News Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="h-100">
                    <p>
                        Stay updated with the latest news and updates from Villakazi Rover Crew. Here you'll find 
                        announcements, achievements, and important information about our activities and community involvement.
                    </p>
                    <p class="mb-4">
                        Check back regularly for new updates and stories from our scouting community.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News End -->
{% endblock %}
